body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-column {
    flex: 3;
    margin-right: 20px;
}

.side-column {
    flex: 1;
    background-color: #CB6D61;
    padding: 15px;
    border-radius: 8px;
}

h1.name {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-info span {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9em;
    color: #555;
}

.summary, .experience, .education, .strengths, .most-proud, .values, .languages, .passions {
    margin-bottom: 20px;
}

.summary h2, .experience h2, .education h2, .strengths h2, .most-proud h2, .values h2, .languages h2, .passions h2 {
    font-size: 1.4em;
    color: black;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}
.side-column {
    color: white;
}