body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.cv-container {
    display: flex;
    width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-column {
    flex: 3;
    margin-right: 20px;
}

.side-column {
    flex: 1;
    background-color: #CB6D61;
    padding: 15px;
    border-radius: 8px;
}

h1.name {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-info span {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9em;
    color: #555;
}

.cv-summary, .cv-experience, .cv-education, .cv-strengths, .cv-most-proud, .cv-values, .cv-languages, .cv-passions {
    margin-bottom: 20px;
}

.cv-summary h2, .cv-experience h2, .cv-education h2, .cv-strengths h2, .cv-most-proud h2, .cv-values h2, .cv-languages h2, .cv-passions h2 {
    font-size: 1.4em;
    color: black;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}
.side-column {
    color: white;
}